/** NOTE commented out because overides global background color
body {
  background-color: #152836;
}
**/

.raisedbox {
	padding: 10px;
  margin: 20px;
  margin-right: 10%;
  margin-left: 10%;
   div {
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 5%;
    padding-bottom: 5%;
   }
    img {
      width: 100%;
    }
  // font-variant: small-caps;
  font-style: oblique;
  background-color: white;
    border: 1px solid #dbd3d3;
    h3 {
      font-style: normal;
      // text-decoration: underline;
    }

	box-shadow:  -1px 1px #dbd3d3,
		 -2px 2px #dbd3d3,
		 -3px 3px #dbd3d3,
		 -4px 4px #dbd3d3,
		 -5px 5px #dbd3d3;
}

.demo-gallery {
  > ul {
    margin-bottom: 0;

    > li {
      float: left;
      margin-bottom: 15px;
      margin-right: 20px;
      width: 200px;

      a {
        border: 3px solid #FFF;
        border-radius: 3px;
        display: block;
        overflow: hidden;
        position: relative;
        float: left;

        > img {
          -webkit-transition: -webkit-transform 0.15s ease 0s;
          -moz-transition: -moz-transform 0.15s ease 0s;
          -o-transition: -o-transform 0.15s ease 0s;
          transition: transform 0.15s ease 0s;
          -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
          height: 100%;
          width: 100%;
        }

        &:hover {
          > img {
            -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
          }

          .demo-gallery-poster > img {
            opacity: 1;
          }
        }

        .demo-gallery-poster {
          background-color: rgba(0, 0, 0, 0.1);
          bottom: 0;
          left: 0;
          position: absolute;
          right: 0;
          top: 0;
          -webkit-transition: background-color 0.15s ease 0s;
          -o-transition: background-color 0.15s ease 0s;
          transition: background-color 0.15s ease 0s;

          > img {
            left: 50%;
            margin-left: -10px;
            margin-top: -10px;
            opacity: 0;
            position: absolute;
            top: 50%;
            -webkit-transition: opacity 0.3s ease 0s;
            -o-transition: opacity 0.3s ease 0s;
            transition: opacity 0.3s ease 0s;
          }
        }

        &:hover .demo-gallery-poster {
          background-color: rgba(0, 0, 0, 0.5);
        }
      }
    }
  }

  .justified-gallery > a {
    > img {
      -webkit-transition: -webkit-transform 0.15s ease 0s;
      -moz-transition: -moz-transform 0.15s ease 0s;
      -o-transition: -o-transform 0.15s ease 0s;
      transition: transform 0.15s ease 0s;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
      height: 100%;
      width: 100%;
    }

    &:hover {
      > img {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
      }

      .demo-gallery-poster > img {
        opacity: 1;
      }
    }

    .demo-gallery-poster {
      background-color: rgba(0, 0, 0, 0.1);
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      -webkit-transition: background-color 0.15s ease 0s;
      -o-transition: background-color 0.15s ease 0s;
      transition: background-color 0.15s ease 0s;

      > img {
        left: 50%;
        margin-left: -10px;
        margin-top: -10px;
        opacity: 0;
        position: absolute;
        top: 50%;
        -webkit-transition: opacity 0.3s ease 0s;
        -o-transition: opacity 0.3s ease 0s;
        transition: opacity 0.3s ease 0s;
      }
    }

    &:hover .demo-gallery-poster {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  .video .demo-gallery-poster img {
    height: 48px;
    margin-left: -24px;
    margin-top: -24px;
    opacity: 0.8;
    width: 48px;
  }

  &.dark > ul > li a {
    border: 3px solid #04070a;
  }
}

.home .demo-gallery {
  padding-bottom: 80px;
}
